.PriceList {
  width: 90%;
  margin: 0 auto;
  font-size: 11px;
  user-select: none;
  color: var(--tg-theme-hint-color);
}
.horizontaltwo {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkall {
  display: flex;
  align-items: center;
}
.checkall p {
  text-align: center;
}
.sortselect {
  justify-content: flex-end;
  width: 66.6%;
  display: flex;
  flex-direction: row;
}
.sortselect > * {
  margin-left: 5px;
}
