.button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  border: 1px solid blue;
}
