.MyInput {
  border-radius: 2px;
  border: none;
  user-select: none;
  height: 85%;
  width: 60%;
  max-width: 400px;
  background: transparent;
  color: var(--tg-theme-text-color);
  border-bottom: 1px solid var(--tg-theme-text-color);
  font-size: 20px;
  font-weight: 600;
}
.MyInput:hover {
  border-bottom: 1px solid var(--tg-theme-text-color);
}
.MyInput:focus {
  border-bottom: 1px solid var(--tg-theme-text-color);
  outline: none;
}
