.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
  background: var(--tg-theme-bg-color);
  /* border-bottom: 1px solid var(--tg-theme-hint-color); */
  border-bottom: 1px solid #cccccc;
  color: var(--tg-theme-text-color);
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}
.username {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.username p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.searchButton {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  bottom: 28px;
  left: 90%;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid var(--tg-theme-text-color);
  /* border: 2px solid; */
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.searchButton::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}
.closebutton {
  position: absolute;
  bottom: 32px;
  left: 87%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.closebutton::after,
.closebutton::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  background: var(--tg-theme-text-color);
  /* background: red; */
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.closebutton::after {
  transform: rotate(-45deg);
}
