.Prices {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  background: var(--tg-theme-secondary-bg-color);
}
.resultsum {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--tg-theme-hint-color);
  /* color: #c0c0c0; */
  margin-bottom: 10px;
}
.extraplace {
  color: transparent;
  width: 100%;
  height: 50vh;
}
